.fondo.azul {
    height: 100%;
    width: 100%;
    background-color: blue;

}
.fondo.red {
    height: 100%;
    width: 100%;
    background-color: red;
}
.fondo.dorado{
    height: 100%;
    width: 100%;
}


    

